<h1>Create a new Task</h1>

<form action="/tasks" method="POST">

  <p>
    <label for="title">Task Name:</label><br>
    <input type="text" name="title" id="title">
  </p>

  <p>
    <label for="content">Description:</label><br>
    <textarea type="text" name="content" id="content"></textarea>
  </p>

  <input class="btn btn-primary" type="submit" value="Save Task">
</form>