  <h1>HomeReno</h1>
  <p>The Home Improvement App</p>

  <h2>Get Started</h2>
  <a class="btn btn-secondary" href="/registrations/signup">Sign Up</a > <a class="btn btn-primary" href="/sessions/login">Log In</a>


  